<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
<div id="app">
   <!-- <div v-show="flag">珠峰</div>-->
    <div v-show="!flag">
        <h2>看不到</h2>
    </div>
    <div v-show="flag">
        看得到
    </div>
    <div v-if="i%2" v-for="i in 10">{{i}}</div>
    <div v-if="i" v-for="i in ary">{{i}}</div>
</div>
</body>
<script src="./node_modules/axios/dist/axios.js"></script>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {
            flag:'true',
            ary:[0,1,0,1,0,1]
        },
        methods: {}
    })
</script>
</html>