<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
<div id="app">
    <button v-for="val in ary" @click="pag = val" :style="{color:pag==val?'red':''}">{{val}}</button>
    <!--keep-alive 会缓存之前的组件 不会销毁之前的组件-->
<!--    <keep-alive>
        <component  :is="pag"> </component>
    </keep-alive>-->
    <keep-alive>
    <pag1 v-if="pag == 'pag1'"></pag1>
    <pag2 v-if="pag == 'pag2'"></pag2>
    <pag3 v-if="pag == 'pag3'"></pag3>
    </keep-alive>
</div>
</body>
<script src="./node_modules/vue/dist/vue.js"></script>
<script>
    let pag1 = {
        template:'<h2>page1</h2>',
        mounted(){
            console.log(1);
        },
        beforeDestroy(){
            console.log('销毁');
        }
    };
    let pag2 = {
        template:'<h2>page2</h2>'
    };
    let pag3 = {
        template:'<h2>page3</h2>'
    };
    let vm = new Vue({
        el: '#app',
        data: {
            pag:'pag1',
            ary:['pag1','pag2','pag3']
        },
        methods: {

        },
        components:{
            pag1,pag2,pag3
        }
    })
</script>
</html>